/* www.pianos.cz/css/print.css */

#accessibility { display: none; }
#menu { display: none; }
hr.hidden { display: none; }
#fav_print_top { display: none; }
#accessibility_validators { display: none; }

